body {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 40px 1fr;
}

button {
  grid-column: 1;
  grid-row: 1;
  background-color: yellow;

}

form {
  grid-column: 3;
  grid-row: 1;
}

img {
  grid-column: 1;
  grid-row: 2;
  padding-top: 20px;
}
