body {
  margin: 0 0;
  background: #333;
  color: white;
  font-family: sans-serif;
}
body>div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  width: 20%;
  border: 2px solid white;
  background-color: transparent;
  font-size: 120%;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 5px;
  padding: 20px;
}
button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
ul {
  padding-inline-start: 0;
}
li {
  font-size: 150%;
  list-style-type: none;
  font-weight: bold;
}
.img {
  width: 100px;
  height: 100px;
}
